<p>
  <a href="{{site.open-access_site}}">Open Access training</a>
  aims to helps researchers disseminate their research widely using Open Access publication approaches.
</p>
<div>
  This training will teach researchers to:
</div>
<ul>
  <li>navigate and identify intitutional and funder <strong>policies</strong></li>
  <li>choose an appropriate <strong>Open Access journal</strong></li>
  <li>select the right <strong>type of Open Access</strong></li>
  <li>use <strong>institutional repositories</strong></li>
</ul>
<p align="center">
  <em>
    Open Access training introduces you to the fundamentals of Open Access publishing and
    provides you with practical tools for publishing real articles in Open Access journals.
    It also acts as a platform for further self-directed learning.
    Other UKRN Open Research topics can be found in the
    <a href="https://ukrn.org/primers/">list of UKRN Primers</a>.
  </em>
</p>
