<p>
  <a href="{{site.preregistration_site}}">Preregistration training</a>
  aims to help researchers make their results more trustworthy by clearly
  differentiating pre-planned from exploratory analyses.
</p>
<div>This training will teach researchers to:</div>
<ul>
  <li>preregister studies and write Registered Reports (in which a journal prospectively agrees to publish a study on the basis of its methodology before the results are know)</li>
  <li><strong>find repositories</strong></li>
  <li>identify <strong>what type of studies</strong> preregistration is most valuable for</li>
  <li>choose an appropriate preregistration <strong>template</strong></li>
  <li>locate <strong>journals which accept Registered Reports</strong></li>
</ul>
<p align="center">
  <em>
    Preregistration training introduces you to the fundamentals of preregistration and
    provides you with practical tools for preregistering real studies. It also acts as a
    platform for further self-directed learning.
    Other UKRN Open Research topics can be found in the
    <a href="https://ukrn.org/primers/">list of UKRN Primers</a>.
  </em>
</p>
