<p>
  <a href="{{site.preprint_site}}">Training on preprints</a> helps researchers disseminate their research more rapidly and widely using preprint archives.
</p>
<div>This training will teach researchers to:</div>
<ul>
  <li><strong>find archives</strong></li>
  <li>understand how <strong>preprinting changes the journal publication workflow</strong></li>
  <li>identify <strong>when </strong>to publish a preprint</li>
  <li><strong>publish an article</strong> as a preprint</li>
  <li>understand issues surrounding the <strong>interpretation of preprints</strong> by non-expert readers</li>
</ul>
<p align="center">
  <em>
    Training on preprints introduces you to the fundamentals of preprinting and
    provides you with practical tools for preprinting actual manuscripts. It also acts as a
    platform for further self-directed learning.
    Other UKRN Open Research topics can be found in the
    <a href="https://ukrn.org/primers/">list of UKRN Primers</a>.
  </em>
</p>
