<p>
  <a href="{{site.open-code_site}}">Open Code training</a>
  helps researchers share software so that others can check their results and extend their work.
</p>
<div>
  This training will teach researchers to:
</div>
<ul>
  <li>use <strong>version control</strong> to transparently track the evolution of software and analysis scripts</li>
  <li><strong>licence software appropriately</strong> and <strong>publish</strong> code on public platforms</li>
  <li>use <strong>good programming habits</strong> to create code that can be read, used, and extended by others</li>
  <li>use <strong>literate programming</strong> tools to embed analysis code and its results directly into manuscripts</li>
</ul>
<p align="center">
  <em>
    Open Code training introduces you to the fundamentals of writing and sharing good code, and
    provides you with practical tools for sharing actual code. It also acts as a
    platform for further self-directed learning.
    Other UKRN Open Research topics can be found in the
    <a href="https://ukrn.org/primers/">list of UKRN Primers</a>.
  </em>
</p>
