<p>
  <a href="{{site.open-data_site}}">Open Data training</a>
  aims to help researchers make their data available to others
  so that their results can be checked and the data reused for other purposes.
</p>
<div>This training will teach researchers to:</div>
<ul>
  <li>produce data which are <strong>FAIR</strong>: Findable, Accessible, Interoperable, and Reusable</li>
  <li><strong>find repositories</strong></li>
  <li>use appropriate <strong>data formats</strong></li>
  <li>manage <strong>metadata</strong> (information describing datasets)</li>
  <li>ensure <strong>non-identifiability</strong> (for researchers working with human data)</li>
</ul>
<p align="center">
  <em>
    Open Data training introduces you to the fundamentals of data sharing and
    provides you with practical tools for sharing real data. It also acts as a
    platform for further self-directed learning.
    Other UKRN Open Research topics can be found in the
    <a href="https://ukrn.org/primers/">list of UKRN Primers</a>.
  </em>
</p>
